page-home {
.card-content
{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
  line-height: 10px;
  text-align: center;
  height: 40px;
}

.card img
{

  margin-left: auto;
  margin-right: auto;
  height: 50%;
  width: 50%;
}
}


